<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Investor Registration Confirmation</title>
</head>
<body>
    <p>Dear {{ first_name }},</p>
    <p>Thank you for submitting your interest in collaborating with NovaNest as an investor</p>
    <p>We truly appreciate your interest in supporting startups and fostering innovation.</p>
    <p>At NovaNest, we aim to connect with individuals who share our vision for growth and want to be part of this journey.</p>
    <p>Our team will review your information shortly, and if needed, we’ll reach out to discuss potential next steps.</p>
    <p>Thank you again for your interest in joining NovaNest’s mission to support innovation and startup growth.</p>
    
    <p>Best regards,
        <br>NovaNest Venture Team</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <table cellpadding="6" cellspacing="0" border="0">
        <tr><td><strong>Full name</strong></td><td>{{ first_name }} {{ last_name|default:"" }}</td></tr>
        <tr><td><strong>Email</strong></td><td>{{ email|default:"—" }}</td></tr>
        <tr><td><strong>Phone Number</strong></td><td>{{ phone_number|default:"—" }}</td></tr>
        <tr><td><strong>Country of Residence</strong></td><td>{{ country_of_residence|default:"—" }}</td></tr>
        <tr><td><strong>Investment Ceiling</strong></td><td>{{ investment_ceiling|default:"—" }}</td></tr>
        <tr><td><strong>Preferred Areas</strong></td><td>{{ preferred_areas|default:"—" }}</td></tr>
        <tr><td><strong>How did you hear about us?</strong></td><td>{{ how_did_you_know|default:"—" }}</td></tr>
        <tr><td><strong>Registered on</strong></td><td>{{ created_at|date:"SHORT_DATETIME_FORMAT" }}</td></tr>
    </table>

</body>
</html>
